ul {
    list-style-type: none;
    margin: 0;padding: 0;

    div {

        color: white;
        background:black;
        border-radius: 4px;
        margin-bottom: 7px;
        padding: 2em;
        font-weight: bold;
        
        
        &:hover  {

            background: orange;
            transition: 0.6s;
        }

        li {
        
            p {
                color:white;
                font-weight: bold;
                margin-left: 20px;
            }
    
        }


    }

}